<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Spam-Ham SMS Classifier</title>
  <link rel = "stylesheet" href = "{{url_for('static', filename='style.css')}}">
</head>

<body>

 <div class="login">
	<canvas id = "canvas"></canvas>
	<script  src="static/script.js"></script>
	    <h1>Spam-Ham SMS Classifier</h1>
	    <h2>Enter your message below and check!</h2>
	 
	     
	<div class="contact-form">
	    <form id="contact-form" method="post" action="{{ url_for('check')}}">
	    
	        <textarea name="message" class="form-control" placeholder="Enter your message here..." row="4" required></textarea><br>
	        <input type="submit" class="form-control submit" value="Check">
	    <h2>
       {{ prediction_text }}
		</h2>
		</div>
	    </form> 
	</div>
</body>
</html>
